<h1 mat-dialog-title style="color:black; font-size: 40px; text-align: center;">Historico</h1>
<div mat-dialog-content>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="sticky-top" scope="col">ID</th>
          <th class="sticky-top" scope="col">Nombre del Equipo</th>
          <th class="sticky-top" scope="col">Marca</th>
          <th class="sticky-top" scope="col">Modelo</th>
          <th class="sticky-top" scope="col">No. Serie</th>
          <th class="sticky-top" scope="col">Procesador</th>
          <th class="sticky-top" scope="col">Generación de Procesador</th>
          <th class="sticky-top" scope="col">RAM</th>
          <th class="sticky-top" scope="col">Disco Duro</th>
          <th class="sticky-top" scope="col">Tipo de Disco Duro</th>
          <th class="sticky-top" scope="col">Tipo de Computadora</th>
          <th class="sticky-top" scope="col">Tamaño de Pantalla</th>
          <th class="sticky-top" scope="col">Fecha Fabricación</th>
          <th class="sticky-top" scope="col">Sistema Operativo</th>
          <th class="sticky-top" scope="col">Software Adicional</th>
          <th class="sticky-top" scope="col">Direccion Mac</th>
          <th class="sticky-top" scope="col">No. de Serie CMD</th>
          <th class="sticky-top" scope="col">Modelo de CMD</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of historico">
          <td id="historico">{{dato.id_historico}}</td>
          <td>{{dato.nombre_equipo}}</td>
          <td>{{dato.marca}}</td>
          <td>{{dato.modelo}}</td>
          <td>{{dato.numero_serie}}</td>
          <td>{{dato.procesador}}</td>
          <td>{{dato.generacion_procesador}}</td>
          <td>{{dato.ram}}</td>
          <td>{{dato.disco_duro}}</td>
          <td>{{dato.tipo_disco_duro}}</td>
          <td>{{dato.tipo_computadora}}</td>
          <td>{{dato.tamano_pantalla}}</td>
          <td>{{dato.fecha_fabricacion}}</td>
          <td>{{dato.nombre_sistema_operativo}}</td>
          <td><i class='fas fa-eye' value="ver" (click)="mostrarTabla(dato.id_historico)" style='font-size:20px;color:purple'></i></td>
          <td>{{dato.direccion_mac}}</td>
          <td>{{dato.numero_serie_cmd}}</td>
          <td>{{dato.modelo_equipo_cmd}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>

  <div>
    <table class="invisible table" id="tabla">
      <thead style="background:#343a40;">
        <tr>
          <th class="sticky-top" scope="col" style="height: 80%;">ID</th>
          <th class="sticky-top" scope="col" style="height: 40%;">Nombre de Software</th>
          <th class="sticky-top" scope="col" style="height: 40%;">Numero de Serie</th>
          <th class="sticky-top" scope="col" style="height: 40%;">Tipo de Software</th>
          <th class="sticky-top" scope="col" style="height: 40%;">Tipo de Licencia</th>
          <th class="sticky-top" scope="col" style="height: 40%;">Licencia Software</th>
          <th class="sticky-top" scope="col" style="height: 40%;">Vigencia Inicial</th>
          <th class="sticky-top" scope="col" style="height: 40%;">Vigencia Termino</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of software">
          <td>{{dato.id_software}}</td>
          <td>{{dato.nombre_software}}</td>
          <td>{{dato.no_serie}}</td>
          <td>{{dato.tipo_software}}</td>
          <td>{{dato.tipo_licencia}}</td>
          <td>{{dato.licencia_software}}</td>
          <td>{{dato.vigencia_inicial}}</td>
          <td>{{dato.vigencia_final}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>
  
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
  </div>