td {
    text-align: center;
}

th {
    text-align: center;
    color: white;
}

.visible{
    display:block;
}
.invisible{
    display:none
}

thead {
    color: black;
    text-align: center  ;
    text-decoration-color: blanchedalmond;
}

table {
    border-color: black;
}