<h1 mat-dialog-title style="color:black; font-size: 40px; text-align: center;">Historico</h1>
<div mat-dialog-content>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="sticky-top" scope="col">ID</th>
                <th class="sticky-top" scope="col">Nombre del Equipo</th>
                <th class="sticky-top" scope="col">Marca</th>
                <th class="sticky-top" scope="col">Modelo</th>
                <th class="sticky-top" scope="col">No. Serie</th>
                <th class="sticky-top" scope="col">Procesador</th>
                <th class="sticky-top" scope="col">RAM</th>
                <th class="sticky-top" scope="col">Disco Duro</th>
                <th class="sticky-top" scope="col">Tipo de Computadora</th>
                <th class="sticky-top" scope="col">Fecha Fabricación</th>
                <th class="sticky-top" scope="col">Nombre Sistema Operativo</th>
                <th class="sticky-top" scope="col">Direccion Mac</th>
                <th class="sticky-top" scope="col">Estatus</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>