<h1 mat-dialog-title style="color:black; text-align: center;">{{titulo}} {{data.opcion}} {{espacio}} {{data.nombre}}</h1>
<mat-dialog-content style=" height: 130px; width: 500px;">
  <p>{{TxtLbl1}}{{TxtLbl2}}</p>
  <br>
  <p>{{TxtLbl3}}</p>
  <hr style="border-color: black;">
</mat-dialog-content>
<mat-dialog-actions>
  <div class="row">
    <div class="col-sm-5">
      <button type="button" class="btn btn-success btn-block" style="width: 47px;"
        (click)="cancelarAccion()">No</button>
    </div>
    <div class="col-sm-5">
      <button type="button" class="btn btn-success btn-block" style="width: 47px;"
        (click)="confirmarAccion(data.nombre, data.opcion)">Sí</button>
    </div>
  </div>
  <button  mat-button cdkFocusInitial style="display: none">Ok</button>
</mat-dialog-actions>

