<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-2 ">
        <a class='fas fa-arrow-alt-circle-left' [routerLink]="[ '/IndexResponsiva' ]" style='font-size:30px;color:purple'></a>

        &nbsp;

        <a class='fas fa-home' [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>
    </div>

    <div class="col-sm-8 ">
        <h2 class="text-center ">GENERAR RESPONSIVA</h2>
    </div>
</div>

<hr>

<!-- <br> -->

<div class="row" style="margin-top: 30px; margin-left: 20px;">
    <div class="col-sm-3">
        <h6> <em class='fas fa-asterisk' style='font-size:10px;color:red'></em>
            Tipo de Recurso:</h6>
            <mat-form-field class="col-sm-7" >
                <mat-label>Seleccionar Recurso</mat-label>
                <mat-select  style='font-size:14px' [formControl]="tipoRecurso" (selectionChange)="tipoRecursoSelect($event.value)">
                    <mat-option *ngFor="let recurso of tiposRecursoTI" [value]="recurso.nombre" >
                        {{recurso.nombre}}
                    </mat-option>
                </mat-select>
             </mat-form-field>
        </div>
    <div class="col-sm-3">
    <h6> <em class='fas fa-asterisk' style='font-size:10px;color:red'></em>
        Tipo de Responsiva:</h6>
        <mat-form-field class="col-sm-7" >
            <mat-label>Seleccionar formato</mat-label>
            <mat-select  style='font-size:14px' [formControl]="tipoResponsiva">
                <mat-option *ngFor="let tipo of tiposResponsivas" [value]="tipo.nombre" >
                    {{tipo.nombre}}
                </mat-option>
            </mat-select>
         </mat-form-field>
    </div>
</div>
<div class="row">

    <div class="col-sm-3">
        <label>Buscar por No. de Serie:</label>
        <input type="text" class=" form-control form-control-sm" [ngModel]= "valor" (ngModelChange)="filtrarNoSerie($event)">
    </div>

</div>

<br>
<mat-spinner [hidden]="ifProgreso" class="mat-spinner circle centrar"></mat-spinner>
<div class="table-wrapper-scroll-y my-custom-scrollbar" [hidden]="!ifAccesorio">

    <table class="table " [hidden]="ifResultados">
        <thead class="thead-dark">
            <tr>
                <th class="sticky-top" scope="col">ID</th>
                <th class="sticky-top" scope="col">Nombre del Equipo</th>
                <th class="sticky-top" scope="col">Marca</th>
                <th class="sticky-top" scope="col">Modelo</th>
                <th class="sticky-top" scope="col">No. Serie</th>
                <th class="sticky-top" scope="col">Estatus</th>
                <th class="sticky-top" scope="col">Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let equipo of equipos">
                <td>{{equipo.id_dequipo}}</td>
                <td>{{equipo.mequipo.nombre_equipo}}</td>
                <td>{{equipo.mequipo.marca}}</td>
                <td>{{equipo.mequipo.modelo}}</td>
                <td>{{equipo.mequipo.numero_serie}}</td>
                <td>{{equipo.estatusRecurso.nombre_estatus}}</td>
                <td><input id="radioEquipo" type="radio" value="male" name="radioEquipo" 
                    (click)="$event.stopPropagation()"
                    (change)="$event ? soyCheck(equipo.id_dequipo) : null"
                    [checked]="selectionEquipos.isSelected(equipo)"
                    >
                </td>
            </tr>


        </tbody>
    </table>
</div>
<br [hidden]="!ifAccesorio">

<div class="row" [hidden]="!ifAccesorio" >
    <div class="col-sm-9 ">

    </div>
    <div class="col-sm-3 ">
        <button type="button" class="btn btn-outline-primary btn-sm btn-block "
            (click)="llenarResponsiva()">Llenar Formulario</button>
    </div>
</div>
<br>

<div [hidden]="ifAccesorio">
<mat-spinner [hidden]="ifProgreso" class="mat-spinner circle centrar"></mat-spinner>
<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table " [hidden]="ifResultados">
        <thead class="thead-dark">
            <tr>
                <th class="sticky-top" scope="col">ID</th>
                <th class="sticky-top" scope="col">Nombre del Accesorio</th>
                <th class="sticky-top" scope="col">Marca</th>
                <th class="sticky-top" scope="col">Modelo</th>
                <th class="sticky-top" scope="col">No. Serie</th>
                <th class="sticky-top" scope="col">Estatus</th>
                <th class="sticky-top" scope="col">Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let accesorio of accesorios">
                <td>{{accesorio.nombre_accesorio}}</td>
                <td>{{accesorio.producto}}</td>
                <td>{{accesorio.marca}}</td>
                <td>{{accesorio.modelo}}</td>
                <td>{{accesorio.serie}}</td>
                <td>{{accesorio.id_estatus.nombre_estatus}}</td>
                <td><input id="male" type="checkbox" value="male" name="gender" 
                    (click)="$event.stopPropagation()"
                    (change)="$event ? accesorioCheck(accesorio.id_accesorio, accesorio.nombre_accesorio,
                        accesorio.capacidad, accesorio.costo, accesorio.marca, accesorio.modelo, accesorio.producto,
                            accesorio.ram_bus, accesorio.ram_ranura, accesorio.serie, accesorio.tipo_disco_duro) : null"
                    [checked]="selection.isSelected(accesorio)"
                    >
                </td>
            </tr>


        </tbody>
    </table>
</div>
<br [hidden]="ifAccesorio">
<div class="row" [hidden]="ifAccesorio">
    <div class="col-sm-9 ">

    </div>
    <div class="col-sm-3 ">
        <button type="button" class="btn btn-outline-primary btn-sm btn-block "
            (click)="llenarResponsivaAccesorio()">Llenar Formulario</button>
    </div>
</div>
<br>

<router-outlet></router-outlet>