<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-2 ">
        <a class='fas fa-arrow-alt-circle-left' [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>

        &nbsp;

        <a class='fas fa-home' [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>
    </div>

    <div class="col-sm-8 ">
        <h2 class="text-center ">SOFTWARE</h2>
    </div>
</div>

<hr>

<!-- <br> -->

<div class="row">
    <div class="col-sm-9 ">
    </div>
    <div class="col-sm-3 ">
        <button type="button" class="btn btn-outline-primary btn-sm btn-block "
            [routerLink]="[ '/AgregarSoftware' ]">AGREGAR SOFTWARE </button>
    </div>
</div>
<div class="row">
</div>
<br>
<div class="row">
    <div class="col-sm-3">
        <label style="color:white;"></label>
    </div>
</div>

<br>
<mat-spinner [hidden]="ifProgreso" class="mat-spinner circle centrar"></mat-spinner>
<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table " [hidden]="ifResultados">
        <thead class="thead-dark">
            <tr>
                <th class="sticky-top" scope="col">Id</th>
                <th class="sticky-top" scope="col">Nombre Software</th>
                <th class="sticky-top" scope="col">Versión</th>
                <th class="sticky-top" scope="col">Licencia</th>
                <th class="sticky-top" scope="col">Tipo Software</th>
                <th class="sticky-top" scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let software of softwares">
                <td>{{software.id_software}}</td>
                <td>{{software.nombre_software}}</td>
                <td>{{software.version}}</td>
                <td>{{software.no_serie}}</td>
                <td>{{software.tipo_software}}</td>
                <td><i class='fas fa-trash-alt' (click)="eliminarSoftware(software.id_software)" style='font-size:20px;color:purple'></i>
                </td>
            </tr>


        </tbody>
    </table>
</div>
<router-outlet></router-outlet>
