.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
input[type=checkbox] {
    transform: scale(1.5);
}
.checkBox {
    width: 50px;
}