<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-2 ">
        <a class='fas fa-arrow-alt-circle-left' [routerLink]="[ '/IndexEquipo' ]"
            style='font-size:30px;color:purple'></a>

        &nbsp;

        <a class='fas fa-home' [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>
    </div>

    <div class="col-sm-8 ">

        <h2 class="modal-title text-center">Modificar Equipo de Computo </h2>
    </div>
</div>

<!-- <br> -->

<div class="card">

    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <form [formGroup]="datosEquipoForm">


            <div class="row">
                <div class="col-sm">

                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Nombe del Equipo:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="nombre_equipo" >
                </div>

                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Cuenta Usuario:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="cuenta">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Contraseña Usuario:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="cuenta_pass" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Marca:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="marca" >
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Número de Serie:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="numero_serie" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Número de Serie CMD:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="serie_cmd" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Procesador:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="procesador" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        RAM:</h6>
                    <input type="text" class=" form-control form-control-sm"  formControlName="ram" >
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Disco Duro:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="disco_duro" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Modelo:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="modelo" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Modelo CMD:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="modelo_cmd" >
                </div>
<!--                 <div class="col-sm">
                    <div class="dropdown">
                        <h6> <em class='fas fa-asterisk' style='font-size:10px;color:red'></em>
                            Tipo de Computadora:</h6>
                        <input type="text" class=" form-control form-control-sm" formControlName="tipo_equipo">
                    </div>

                </div> -->
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                        <h6> <em class='fas fa-asterisk' style='font-size:10px;color:red'></em>
                            Tipo de Computadora:</h6>
                        <mat-form-field class="col-sm" >
                            <mat-select  formControlName="tipo_equipo" style='font-size:14px'>
                                <mat-option *ngFor="let tipo of tiposEquipos" [value]="tipo.nombre" >
                                    {{tipo.nombre}}
                                </mat-option>
                            </mat-select>
                         </mat-form-field>
                    </div>

                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                         Fecha de Fabricación:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="fecha_fabrica">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                         Nombre del Sistema Operativo:
                    </h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="nombre_SO" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                         Tipo del Sistema Operativo :
                    </h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="tipo_SO" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red' ></i>
                         Dirección MAC:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="mac" >
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-3">
                    <h6>Email GNP:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="correo" [value]="equipo.email_gnp">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-2 "[hidden]="ifMostrar === false && ifEditar === true">
                    <button type="button" class="btn btn-success btn-block" (click)='cancelar()'>Cancelar</button>
                </div>
                <div class="col-sm-2 " [hidden]="ifMostrar === false && ifEditar === true">
                    <button type="button" class="btn btn-success btn-block" (click)='guardarDatos()'>Guardar</button>
                </div>
                <div class="col-sm-2 " [hidden]="ifMostrar === true && ifEditar === false">
                    <button type="button" class="btn btn-success btn-block" (click)="opcionesVistaVer('editar')">Editar</button>
                </div>
                <div class="col-sm-2 " [hidden]="ifMostrar === true && ifEditar === false">
                    <button type="button" class="btn btn-success btn-block" (click)="opcionesVistaVer('aceptar')">Aceptar</button>
                </div>
            </div>
            </form>
        </blockquote>
    </div>
</div>
<br>
