<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-2 ">
        <a class='fas fa-arrow-alt-circle-left' [routerLink]="[ '/IndexEquipo' ]"
            style='font-size:30px;color:purple'></a>

        &nbsp;

        <a class='fas fa-home' [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>
    </div>

    <div class="col-sm-8 ">

        <h2 class="modal-title text-center">Modificar Equipo de Computo </h2>
    </div>
</div>

<!-- <br> -->

<div class="card">

    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <form [formGroup]="datosEquipoForm">


            <div class="row">
                <div class="col-sm">

                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Nombe del Equipo:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="nombre_equipo" >
                </div>

                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Cuenta Usuario:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="cuenta">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas' style='font-size:10px;color:red'></i>
                        Contraseña Usuario:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="cuenta_pass" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Marca:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="marca" >
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Número de Serie:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="numero_serie" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Número de Serie CMD:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="serie_cmd" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Procesador:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="procesador" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas' style='font-size:10px;color:red'></i>
                        Generación del Procesador:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="generacion_procesador">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Disco Duro:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="disco_duro" >
                </div>
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Tipo de Disco Duro:</h6>
                        <mat-form-field class="col-sm" >
                            <mat-select  formControlName="tipo_disco_duro" style='font-size:14px'>
                                <mat-option *ngFor="let tipoDD of tiposDiscos" [value]="tipoDD.tipo" >
                                    {{tipoDD.tipo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Modelo:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="modelo" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Modelo CMD:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="modelo_cmd" >
                </div>
            </div>

            <br>

            <div class="row">
                <!-- <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Fecha de Fabricación:</h6>
                        <mat-form-field >
                            <input matInput [matDatepicker]="picker" style="font-size:13px; margin-top: 0;" formControlName="fecha_fabrica">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div> -->
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Nombre del Sistema Operativo:
                        </h6>
                        <mat-form-field class="col-sm">
                            <mat-select  formControlName="nombre_SO" style='font-size:14px' (selectionChange)="selectSoftware($event.value)" disabled>
                                <mat-option *ngFor="let software of softSO" [value]="software.nombre_software+ ' '+ software.version">
                                    {{software.nombre_software}} {{software.version}} {{software.tipo_licencia}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Tipo del Sistema Operativo :
                        </h6>
                        <mat-form-field class="col-sm" >
                            <mat-select  formControlName="tipo_SO" style='font-size:14px'>
                                <mat-option *ngFor="let nBits of tiposProcesadorBits" [value]="nBits.nombre" >
                                    {{nBits.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red' ></i>
                         Dirección MAC Ethernet:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="mac" >
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red' ></i>
                         Dirección MAC Wifi:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="direccion_mac_w" >
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        RAM:</h6>
                    <input type="text" maxlength=2 id="ram" class=" form-control form-control-sm" formControlName="ram" placeholder="Ejemplo: 8">
                    <mat-error *ngIf="ifNumero" style='font-size:10px'>
                        Campo Numerico 
                    </mat-error>
                    <mat-error *ngIf="ifLongitud" style='font-size:10px'>
                        Máximo dos dígitos
                    </mat-error>
                </div>
                <div class="col-sm">
                    <h6>Lugar de Compra:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="lugar_compra">
                </div>
                <div class="col-sm">
                    <h6 style="margin-bottom: 0;"> <i class='fas' style='font-size:10px;color:red;'></i>
                         Fecha de Compra:</h6>
                    <mat-form-field >
                        <input matInput [matDatepicker]="pickerFC" style="font-size:13px; margin-top: 0;" formControlName="fecha_compra">
                        <mat-datepicker-toggle matSuffix [for]="pickerFC"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFC></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="col-sm">
                    <h6 style="margin-bottom: 0;"> <i class='fas' style='font-size:10px;color:red;'></i>
                         Fecha de termino de Garantia:</h6>
                    <mat-form-field >
                        <input matInput [matDatepicker]="pickerFG" style="font-size:13px; margin-top: 0;" formControlName="fecha_garantia">
                        <mat-datepicker-toggle matSuffix [for]="pickerFG"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFG></mat-datepicker>
                      </mat-form-field>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Fecha de Fabricación:</h6>
                        <mat-form-field >
                            <input matInput [matDatepicker]="picker" style="font-size:13px; margin-top: 0;" formControlName="fecha_fabrica">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm">
                    <h6>Email GNP:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="correo" [value]="equipo.email_gnp">
                </div>
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                        <h6> <em class='fas fa-asterisk' style='font-size:10px;color:red'></em>
                            Tipo de Computadora:</h6>
                        <mat-form-field class="col-sm" >
                            <mat-select  formControlName="tipo_equipo" style='font-size:14px'>
                                <mat-option *ngFor="let tipo of tiposEquipos" [value]="tipo.nombre" >
                                    {{tipo.nombre}}
                                </mat-option>
                            </mat-select>
                         </mat-form-field>
                    </div>

                </div>
                <div class="col-sm" >
                    <h6 [hidden]="ifLaptop">Tamaño de la Pantalla:</h6>
                    <input  [hidden]="ifLaptop" type="text" class=" form-control form-control-sm" formControlName="tamaño_pantalla">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                        <h6> <em class='fas fa-asterisk' style='font-size:10px;color:red'></em>
                            Estatus del Equipo:</h6>
                        <mat-form-field class="col-sm" >
                            <mat-select  formControlName="estatus" style='font-size:14px'>
                                <mat-option *ngFor="let tipo of Estatus" [value]="tipo.id_estatus" >
                                    {{tipo.nombre_estatus}}
                                </mat-option>
                            </mat-select>
                         </mat-form-field>
                    </div>
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
            </div>

            <br>

            <div class="row" [hidden]="ifFactura">
                <div class="col-sm" style='font-size:10px'>
                    <h6>Seleccionar Factura:</h6>
                    <input type="file" class="btn btn-block" (change)="fileEvent($event)">
                </div>

            </div>
<!--             <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas' style='font-size:10px;color:red'></i>
                        ¿Se actualizó el software de Ofimática?:
                    <input class="row-sm checkBox" type="checkbox" formControlName="checkOfimatica" (change)="cambioOfimatica()">
                    </h6>
                </div>
            </div> -->
            <!-- <div class="row" [hidden]="ifCambioOfi">
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Nombre de la Ofimática:
                        </h6>
                        <mat-form-field class="col-sm" >
                            <mat-select  formControlName="nombre_OF" style='font-size:14px'>
                                <mat-option *ngFor="let softwareOf of softOf" [value]="softwareOf" >
                                    {{softwareOf.nombre_software}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                     </div>
                </div>
                <div class="col-sm"></div>
                <div class="col-sm"></div>
                <div class="col-sm"></div>
            </div> -->
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-2 "[hidden]="ifMostrar === false && ifEditar === true">
                    <button type="button" class="btn btn-success btn-block" (click)='cancelar()'>Cancelar</button>
                </div>
                <div class="col-sm-2 " [hidden]="ifMostrar === false && ifEditar === true">
                    <button type="button" class="btn btn-success btn-block" (click)='guardarDatos()'>Guardar</button>
                </div>
                <div class="col-sm-2 " [hidden]="ifMostrar === true && ifEditar === false">
                    <button type="button" class="btn btn-success btn-block" (click)="opcionesVistaVer('editar')"
                    >Editar</button>
                    <!-- [disabled]="ifAsignado" -->
                </div>
                <div class="col-sm-2 " [hidden]="ifMostrar === true && ifEditar === false">
                    <button type="button" class="btn btn-success btn-block" (click)="opcionesVistaVer('aceptar')">Aceptar</button>
                </div>
            </div>
            </form>
        </blockquote>
    </div>
</div>
<br>
