<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-2 ">
        <a class='fas fa-arrow-alt-circle-left' [routerLink]="[ '/IndexEquipo' ]"
            style='font-size:30px;color:purple'></a>

        &nbsp;

        <a class='fas fa-home' [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>
    </div>

    <div class="col-sm-8 ">

        <h2 class="modal-title text-center">Agregar Equipo de Computo </h2>
    </div>
</div>

<!-- <br> -->

<div class="card">

    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <form [formGroup]="datosEquipoForm">

            <div class="row">
                <div class="col-sm">

                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Nombre del Equipo:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="nombre_equipo" >
                </div>

                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Cuenta Usuario:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="cuenta">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas' style='font-size:10px;color:red'></i>
                        Contraseña Usuario:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="cuenta_pass">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Marca:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="marca">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Número de Serie:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="numero_serie">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Número de Serie CMD:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="serie_cmd">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Procesador:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="procesador">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Generación del Procesador:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="generacion_procesador">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Disco Duro:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="disco_duro" placeholder="Ejemplo: 500 GB">
                </div>
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Tipo de Disco Duro:</h6>
                        <mat-form-field class="col-sm" >
                            <mat-select  formControlName="tipo_disco_duro" style='font-size:14px'>
                                <mat-option *ngFor="let tipoDD of tiposDiscos" [value]="tipoDD.tipo" >
                                    {{tipoDD.tipo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Modelo:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="modelo">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Modelo CMD:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="modelo_cmd">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6 style="margin-bottom: 0;"> <i class='fas fa-asterisk' style='font-size:10px;color:red;'></i>
                         Fecha de Fabricación:</h6>
                    <mat-form-field >
                        <input matInput [matDatepicker]="picker" style="font-size:13px; margin-top: 0;" formControlName="fecha_fabrica">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Nombre del Sistema Operativo:
                        </h6>
                        <mat-form-field class="col-sm" >
                            <mat-select  formControlName="nombre_SO" style='font-size:14px'>
                                <mat-option *ngFor="let software of softSO" [value]="software" >
                                    {{software.nombre_software}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm" style='font-size:10px'>
                    <div class="dropdown">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                         Tipo del Sistema Operativo:
                    </h6>
                    <mat-form-field class="col-sm" >
                        <mat-select  formControlName="tipo_SO" style='font-size:14px'>
                            <mat-option *ngFor="let nBits of tiposProcesadorBits" [value]="nBits.nombre" >
                                {{nBits.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red' ></i>
                         Dirección MAC:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="mac">
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        RAM:</h6>
                    <input type="text" id="ram" class=" form-control form-control-sm" formControlName="ram" placeholder="Ejemplo: 8">
                    <mat-error *ngIf="ifNumero" style='font-size:10px'>
                        Campo Numerico 
                    </mat-error>
                    <mat-error *ngIf="ifLongitud" style='font-size:10px'>
                        Máximo dos dígitos
                    </mat-error>
                </div>
                <div class="col-sm">
                    <h6>Lugar de Compra:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="lugar_compra">
                </div>
                <div class="col-sm">
                    <h6 style="margin-bottom: 0;"> <i class='fas fa-asterisk' style='font-size:10px;color:red;'></i>
                         Fecha de Compra:</h6>
                    <mat-form-field >
                        <input matInput [matDatepicker]="pickerFC" style="font-size:13px; margin-top: 0;" formControlName="fecha_compra">
                        <mat-datepicker-toggle matSuffix [for]="pickerFC"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFC></mat-datepicker>
                      </mat-form-field>
                </div>
                <div class="col-sm">
                    <h6 style="margin-bottom: 0;"> <i class='fas' style='font-size:10px;color:red;'></i>
                         Fecha de termino de Garantia:</h6>
                    <mat-form-field >
                        <input matInput [matDatepicker]="pickerFG" style="font-size:13px; margin-top: 0;" formControlName="fecha_garantia">
                        <mat-datepicker-toggle matSuffix [for]="pickerFG"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFG></mat-datepicker>
                      </mat-form-field>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6>Email GNP:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="correo">
                </div>
                <div class="col-sm" style='font-size:10px'>
                    <h6> <em class='fas fa-asterisk' style='font-size:10px;color:red'></em>
                        Tipo de Computadora:</h6>
                    <mat-form-field class="col-sm">
                        <mat-select  formControlName="tipo_equipo" style='font-size:14px' (selectionChange)="tipoComputadora($event.value)" >
                            <mat-option *ngFor="let tipo of tiposEquipos" [value]="tipo.nombre" >
                                {{tipo.nombre}}
                            </mat-option>
                        </mat-select>
                     </mat-form-field>
                </div>
                <div class="col-sm" >
                    <h6 [hidden]="ifLaptop">Tamaño de la Pantalla:</h6>
                    <input  [hidden]="ifLaptop" type="text" class=" form-control form-control-sm" formControlName="tamaño_pantalla">
                </div>
                <div class="col-sm">
                </div>
            </div>
        </form>

        <div  [hidden]="ifLaptop">
            <br>
            <hr class="linea">
            <h5 class="modal-title text-center">Datos del Eliminador de Corriente</h5>
            <br>
            <form [formGroup]="datosAccesorioForm">
                <div class="row">
                    <div class="col-sm">

                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Nombe del Accesorio:</h6>
                        <input type="text" class=" form-control form-control-sm" formControlName="productoA" >
                    </div>

                    <div class="col-sm">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Marca:</h6>
                        <input type="text" class=" form-control form-control-sm" formControlName="marcaA">
                    </div>
                    <div class="col-sm">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Modelo:</h6>
                        <input type="text" class=" form-control form-control-sm" formControlName="modeloA">
                    </div>
                    <div class="col-sm">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Hecho en:</h6>
                        <input type="text" class=" form-control form-control-sm" formControlName="hechoEnA">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Número de Serie:</h6>
                        <input type="text" class=" form-control form-control-sm" formControlName="numeroSerieA" >
                    </div>
                    <div class="col-sm">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Costo:</h6>
                        <input type="text" class=" form-control form-control-sm" formControlName="costo" >
                    </div>
                    <div class="col-sm-6 my-custom-scrollbar table-wrapper-scroll-y">
                        <h6> <i class='fas' style='font-size:10px;color:red'></i>
                            Descripcion:</h6>
                        <textarea type="text" class=" form-control form-control-sm"
                            style="width: 100%; height: 40%; resize: none;" formControlName="descripcionA">
                    </textarea>
                    </div>
                </div>
            </form>
        </div>
        <div  [hidden]="ifEscritorio">
            <br>
            <hr class="linea">
            <h5 class="modal-title text-center">Accesorios Adicionales</h5>
            <br>
            <form [formGroup]="datosAccesorioFormEscritorio">
                <div class="row">
                    <div class="col-sm">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Mouse:
                            <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            formControlName="checkMouse"
                            (change)="tipoMouse($event.value)"
                            >
                            <mat-radio-button class="example-radio-button" *ngFor="let season of opciones" [value]="season">
                              {{season}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </h6>
                    </div>
                </div>
            
            
            <div class="card card-body" [hidden]="ifMouseN">
                <blockquote class="blockquote mb-0">
                <div>
                    <form [formGroup]="datosMouseForm">
                        <div class="row">
                            <div class="col-sm">
                                <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                    Nombre del Accesorio:</h6>
                                <input type="text" class=" form-control form-control-sm" formControlName="productoA" >
                            </div>
        
                            <div class="col-sm">
                                <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                    Marca:</h6>
                                <input type="text" class=" form-control form-control-sm" formControlName="marcaA">
                            </div>
                            <div class="col-sm">
                                <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                    Modelo:</h6>
                                <input type="text" class=" form-control form-control-sm" formControlName="modeloA">
                            </div>
                            <div class="col-sm">
                                <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                    Hecho en:</h6>
                                <input type="text" class=" form-control form-control-sm" formControlName="hechoEnA">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                    Número de Serie:</h6>
                                <input type="text" class=" form-control form-control-sm" formControlName="numeroSerieA" >
                            </div>
                            <div class="col-sm">
                                <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                Costo:</h6>
                                <input type="text" class=" form-control form-control-sm" formControlName="costo" >
                                </div>
                            <div class="col-sm-6 my-custom-scrollbar table-wrapper-scroll-y">
                                <h6> <i class='fas' style='font-size:10px;color:red'></i>
                                    Descripcion:</h6>
                                <textarea type="text" class=" form-control form-control-sm"
                                    style="width: 100%; height: 40%; resize: none;" formControlName="descripcionA">
                            </textarea>
                            </div>
                        </div>
                    </form>
                </div>
                </blockquote>
            </div>
            <br>
                <div class="row">
                    <div class="col-sm">
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                            Teclado:
                            <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group"
                            formControlName="checkTeclado"
                            (change)="tipoTeclado($event.value)"
                            >
                            <mat-radio-button class="mat-radio-button" *ngFor="let season of opciones" [value]="season">
                              {{season}}
                            </mat-radio-button>
                          </mat-radio-group>
                        </h6>
                    </div>
                </div>
                <div class="card card-body" [hidden]="ifTecladoN" >
                    <blockquote class="blockquote mb-0">
                    <div>
                        <form [formGroup]="datosTecladoForm">
                            <div class="row">
                                <div class="col-sm">
                                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                        Nombre del Accesorio:</h6>
                                    <input type="text" class=" form-control form-control-sm" formControlName="productoAT" >
                                </div>
            
                                <div class="col-sm">
                                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                        Marcar:</h6>
                                    <input type="text" class=" form-control form-control-sm" formControlName="marcaAT">
                                </div>
                                <div class="col-sm">
                                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                        Modelo:</h6>
                                    <input type="text" class=" form-control form-control-sm" formControlName="modeloAT">
                                </div>
                                <div class="col-sm">
                                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                        Hecho en:</h6>
                                    <input type="text" class=" form-control form-control-sm" formControlName="hechoEnAT">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm">
                                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                        Número de Serie:</h6>
                                    <input type="text" class=" form-control form-control-sm" formControlName="numeroSerieAT">
                                </div>
                                <div class="col-sm">
                                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                                    Costo:</h6>
                                    <input type="text" class=" form-control form-control-sm" formControlName="costo" >
                                    </div>
                                <div class="col-sm-6 my-custom-scrollbar table-wrapper-scroll-y">
                                    <h6> <i class='fas' style='font-size:10px;color:red'></i>
                                        Descripcion:</h6>
                                    <textarea type="text" class=" form-control form-control-sm"
                                        style="width: 100%; height: 40%; resize: none;" formControlName="descripcionAT">
                                </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    </blockquote>
                </div>
            </form>
        </div>    
        
        <br>
            <div class="row">
                <div class="col-sm-8">

                </div>
                <div class="col-sm-2 ">
                    <button type="button" class="btn btn-success btn-block" (click)='cancelar()'>Cancelar</button>
                </div>
                <div class="col-sm-2 ">
                    <button type="button" class="btn btn-success btn-block" (click)='guardarDatos()'>Guardar</button>
                </div>
            </div>
            
        </blockquote>
    </div>
</div>
<br>