<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-2 ">
        <a class='fas fa-arrow-alt-circle-left' [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>

        &nbsp;

        <a class='fas fa-home' [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>
    </div>

    <div class="col-sm-8 ">

        <h2 class="text-center ">ACCESORIOS DE COMPUTO</h2>
    </div>
</div>

<hr>

<!-- <br> -->

<div class="row">
    <div class="col-sm-9 ">

    </div>
    <div class="col-sm-3 ">
        <button type="button" class="btn btn-outline-primary btn-sm btn-block "
            [routerLink]="[ '/AgregarAccesorio' ]">AGREGAR ACCESORIO </button>
    </div>
</div>
<div class="row">

    <div class="col-sm-3">
        <label>Buscar por Nombre:</label>
        <input type="text" class=" form-control form-control-sm" [ngModel]= "valor" (ngModelChange)="filtrarNombre($event)">
    </div>

</div>

<br>
<mat-spinner [hidden]="ifProgreso" class="mat-spinner circle centrar"></mat-spinner>
<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table " [hidden]="ifResultados">
        <thead class="thead-dark">
            <tr>
                <th class="sticky-top" scope="col">Nombre del Accesorio</th>
                <th class="sticky-top" scope="col">Marca</th>
                <th class="sticky-top" scope="col">Modelo</th>
                <th class="sticky-top" scope="col">No. Serie</th>
                <th class="sticky-top" scope="col">Estatus</th>
                <th class="sticky-top" scope="col">Ver/Modificar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let accesorio of accesorios">
                <td>{{accesorio.producto}}</td>
                <td>{{accesorio.marca}}</td>
                <td>{{accesorio.modelo}}</td>
                <td>{{accesorio.serie}}</td>
                <td>{{accesorio.id_estatus.nombre_estatus}}</td>
                <td><i class='fas fa-edit' [routerLink]="[ '/EditarAccesorio' ]"
                        style='font-size:20px;color:purple' (click)="editarAccesorio(accesorio.id_accesorio,'mostrar')"
                        [hidden]="accesorio.id_estatus.id_estatus===idAsignado"></i>
                </td>
            </tr>


        </tbody>
    </table>
</div>