<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-2 ">
        <a class='fas fa-arrow-alt-circle-left' [routerLink]="[ '/IndexAccesorio' ]"
            style='font-size:30px;color:purple'></a>

        &nbsp;

        <a class='fas fa-home' [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>
    </div>

    <div class="col-sm-8 ">

        <h2 class="modal-title text-center">Editar Accesorio </h2>
    </div>
</div>

<!-- <br> -->

<div class="card">

    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <form [formGroup]="datosAccesoriosForm">

            <div class="row">
                <div class="col-sm">

                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Nombe del Accesorio:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="nombre" >
                </div>

                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Marca:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="marca">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Modelo:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="modelo">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Producto:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="producto">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Hecho en:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="hechoEn">
                </div>
                <div class="col-sm">
                    <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red'></i>
                        Número de Serie:</h6>
                    <input type="text" class=" form-control form-control-sm" formControlName="serie">
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm">
                    <h6></h6>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-sm">
                    <h6></h6>
                </div>
            </div>
            
            <br>

            <div class="row">
                <div class="col-sm-8">

                </div>
                <div class="col-sm-2 "[hidden]="ifMostrar === false && ifEditar === true">
                    <button type="button" class="btn btn-success btn-block" (click)='cancelar()'>Cancelar</button>
                </div>
                <div class="col-sm-2 " [hidden]="ifMostrar === false && ifEditar === true">
                    <button type="button" class="btn btn-success btn-block" (click)='guardarDatos()'>Guardar</button>
                </div>
                <div class="col-sm-2 " [hidden]="ifMostrar === true && ifEditar === false">
                    <button type="button" class="btn btn-success btn-block" (click)="opcionesVistaVer('editar')">Editar</button>
                </div>
                <div class="col-sm-2 " [hidden]="ifMostrar === true && ifEditar === false">
                    <button type="button" class="btn btn-success btn-block" (click)="opcionesVistaVer('aceptar')">Aceptar</button>
                </div>
            </div>
            </form>
        </blockquote>
    </div>
</div>
<br>

