<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-2 ">
        <a class='fas fa-arrow-alt-circle-left' [routerLink]="[ '/AgregarResponsiva' ]"
            style='font-size:30px;color:purple'></a>

        &nbsp;

        <a class='fas fa-home' [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>
    </div>

    <div class="col-sm-8 ">

        <h2 class="modal-title text-center">RESPONSIVA KABEC </h2>
    </div>
</div>

<div class="card">

    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <form [formGroup]="datosRespForm">
                <div class="row">
                    <div class="col-sm">
                        <div *ngFor="let id of idAccesorios">
                            <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red;margin-top: 15px;'></i>
                                Accesorio:</h6>
                            <input type="text" class=" form-control form-control-sm" value={{id.producto}} disabled
                                style="text-align:center; width: 25%;">
                        </div>
                    </div>

                    <div class="col-sm">
                        <div *ngFor="let id of idAccesorios">
                            <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red;margin-top: 15px;'></i>
                                Costo:</h6>
                            <input type="text" class=" form-control form-control-sm" value={{id.costo}} disabled
                                style="text-align:center; width: 25%;">
                        </div>
                        <div>
                            <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red;margin-top: 15px;'></i>
                                Total de Costo de Accesorios:</h6>
                            <input type="text" class=" form-control form-control-sm" id="total" disabled value=""
                                style="text-align:center; width: 25%;">
                        </div>
                        <div>
                            <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red;margin-top: 15px;'></i>
                                Total de Responsiva:</h6>
                            <input type="text" class=" form-control form-control-sm"
                                style="text-align:center; width: 25%;" formControlName="costoTotal">
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm" style="padding-top: 20px;">
                    <div>
                        <h6> <i class='fas fa-asterisk' style='font-size:10px;color:red;'></i>
                            Responsable del Equipo:</h6>
                        <input type="text" class=" form-control form-control-sm" style="width: 30%;"
                            formControlName="responsable">
                    </div>
                    <div class="col-sm" style="margin-top: 20px;">
                        <h6> <i class='fas' style='font-size:10px;color:red'></i>
                            Comentarios:</h6>
                        <input type="textArea" class=" form-control form-control-sm"
                            style="width: 30%; height: 100px;margin-top: 10px;margin-left: -12px;"
                            formControlName="comentarios">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-3 ">
                        <button type="button" class="btn btn-success btn-block" (click)='cancelar()'>Cancelar</button>
                    </div>
                    <div class="col-sm-3 ">
                        <button type="button" class="btn btn-success btn-block"
                            (click)='generarResponsiva("vista")'>Vista Previa</button>
                    </div>
                    <div class="col-sm-3 ">
                        <button type="button" class="btn btn-success btn-block"
                            (click)='generarResponsiva("crear")'>Generar</button>
                    </div>
                </div>
            </form>
        </blockquote>
    </div>
</div>