<app-navbar></app-navbar>
<div class="row">
    <div class="col-sm-2 ">
        <a class='fas fa-arrow-alt-circle-left' alt="Back" [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>

        &nbsp;

        <a class='fas fa-home' alt="Home" [routerLink]="[ '/Principal' ]" style='font-size:30px;color:purple'></a>
    </div>

    <div class="col-sm-8 ">
        <h2 class="text-center ">RESPONSIVAS</h2>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-sm-9 ">

    </div>
    <div class="col-sm-3 ">
        <button type="button" class="btn btn-outline-primary btn-sm btn-block "
            [routerLink]="[ '/AgregarResponsiva' ]">GENERAR RESPONSIVA </button>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <label>Tipo de Responsiva:</label>
        <mat-form-field class="col-sm" >
            <mat-select  (selectionChange)="selectResponsiva($event.value)"  style='font-size:14px;' placeholder="Seleccione Responsiva">
                <mat-option *ngFor="let filtro of tipoResponsiva" [value]="filtro.nombre" >
                    {{filtro.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 invisible" id="filtro">
        <label>Buscar por:</label>
        <mat-form-field class="col-sm" >
            <mat-select  (selectionChange)="filtroSelect($event.value)"  style='font-size:14px' placeholder="Seleccione un parametro">
                <mat-option *ngFor="let filtro of filtros" [value]="filtro" >
                    {{filtro}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-sm-3 invisible" id="filtroEquipo">
        <label>Parametro:</label>
        <input type="text" class=" form-control form-control-sm" [ngModel]= "valor" (ngModelChange)="filtro($event)" [disabled]="sinFiltro">
    </div>
    <div class="col-sm-3 invisible" id="filtroAccesorio">
        <label>Parametro:</label>
        <input type="text" class=" form-control form-control-sm" [ngModel]= "valorAcc" (ngModelChange)="filtroAcc($event)" [disabled]="sinFiltro">
    </div>
</div>

<br>
<br>
<br>
<mat-spinner [hidden]="ifProgreso" class="mat-spinner circle centrar"></mat-spinner>
<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table invisible" id="equipo">
        <thead class="thead-dark">
            <tr>
                <th class="sticky-top" scope="col">ID</th>
                <th class="sticky-top" scope="col">Persona Responsable</th>
                <th class="sticky-top" scope="col">Equipo</th>
                <th class="sticky-top" scope="col">Sistema Operativo</th>
                <th class="sticky-top" scope="col">Marca</th>
                <th class="sticky-top" scope="col">Numero de Serie</th>
                <th class="sticky-top" scope="col">Estatus</th><!-- duda en que si deba de ir esta -->
                <th class="sticky-top" scope="col">Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let responsiva of responsivas">
                <td>{{responsiva.id_asignacion}}</td>
                <td>{{responsiva.nombre_consultor}}</td>
                <td>{{responsiva.dequipo.mequipo.tipo_computadora}}</td>
                <td>{{responsiva.dequipo.mequipo.nombre_sistema_operativo}}</td>
                <td>{{responsiva.dequipo.mequipo.marca}}</td>
                <td>{{responsiva.dequipo.mequipo.numero_serie}}</td>
                <td>{{responsiva.estatusrecurso.nombre_estatus}}</td>
                <td><input id="male" type="radio" value="male" name="gender" 
                    (click)="$event.stopPropagation()"
                    (change)="$event ? seleccionarResponsiva(responsiva.id_asignacion,responsiva.dequipo.id_dequipo) : null"
                    [disabled]="responsiva.estatusrecurso.id_estatus===6">
                </td>
                <!-- <td><i class='fas fa-edit' [routerLink]="[ '/EditarEquipo' ]" (click)="editarEquipo(equipo.mequipo.id_equipo, 'editar')" style='font-size:20px;color:purple'></i>
                </td> -->
            </tr>
        </tbody>
    </table>

    <table class="table invisible" id="accesorio">
        <thead class="thead-dark">
            <tr>
                <th class="sticky-top" scope="col">ID</th>
                <th class="sticky-top" scope="col">Persona Responsable</th>
                <th class="sticky-top" scope="col">Accesorio</th>
                <th class="sticky-top" scope="col">Capacidad</th>
                <th class="sticky-top" scope="col">Marca</th>
                <th class="sticky-top" scope="col">Numero de Serie</th>
                <th class="sticky-top" scope="col">Estatus</th><!-- duda en que si deba de ir esta -->
                <th class="sticky-top" scope="col">Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let responsiva of responsivasAccesorios">
                <td>{{responsiva.id_asignacion.id_asignacion}}</td>
                <td>{{responsiva.id_asignacion.nombre_consultor}}</td>
                <td>{{responsiva.id_accesorio.producto}}</td>
                <td>{{responsiva.id_accesorio.capacidad}}</td>
                <td>{{responsiva.id_accesorio.marca}}</td>
                <td>{{responsiva.id_accesorio.serie}}</td>
                <td>{{responsiva.id_asignacion.estatusrecurso.nombre_estatus}}</td>
                <td><input id="male" type="radio" value="male" name="gender" 
                    (click)="$event.stopPropagation()"
                    (change)="$event ? seleccionarREsponsivaAccesorios(responsiva.id_asignacion.id_asignacion,responsiva.id_accesorio.id_accesorio) : null"
                    [disabled]="responsiva.id_accesorio.id_estatus.id_estatus===6">
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
<br>
<div class="row">
    <div class="col-sm ">
    </div>
    <div class="col-sm-3 ">
        <button type="button" class="btn btn-success btn-block" (click)="cancelarResponsivaAcce()">Cancelar Responsiva</button>
    </div>
</div>
<br>
<router-outlet></router-outlet>
