<app-navbar></app-navbar>
<div class="container color_container">

    <br>

    <div class="row">
        <div class="col">
            <div class="color_carta text-center">
                <br>
                <img class="card-img-top" src="assets/img/reportes1.jpg" alt="Kabec Logo" style="width:90%">
                <div class="card-body">
                    <a [routerLink]="[ '/IndexResponsiva' ]" class="btn btn-outline-primary btn-block " role="button" >
                        <h2>RESPONSIVAS </h2>
                    </a>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="color_carta text-center">
                <br>
                <img class="card-img-top" src="assets/img/equipo1.jpg" alt="Kabec Logo" style="width:90%">
                <div class="card-body ">
                    <a [routerLink]="[ '/IndexEquipo' ]" class="btn btn-outline-primary btn-block " role="button" >
                        <h2>EQUIPOS </h2>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="color_carta text-center ">
                <br>
                <img class="card-img-top" src="assets/img/accesorios1.jpg" alt="Kabec Logo" style="width:90%" >
                <div class="card-body ">
                    <a [routerLink]="[ '/IndexAccesorio' ]" class="btn btn-outline-primary btn-block " role="button">
                        <h2>ACCESORIOS </h2>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <br>

</div>