/* You can add global styles to this file, and also import other style files */
.color_container {
    background-color: rgb(190, 95, 214);
}
.color_carta {
    background-color: #fcfcfc;
}

.color_boton {
    background-color: rgb(102, 184, 216);
}

.color_panel {
    background-color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
